name: ci

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: macos-14
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run tests
        run: swift test

      - name: Build
        run: swift build
